$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: 10px;
$fs-xs: 12px;
$fs-s: 15px;
$fs-m: 18px;
$fs-l: 24px;
$fs-xl: 36px;
$fs-xxl: 48px;

$vertical-padding-xs: 20px;
$vertical-padding-sm: 60px;
$vertical-padding: 120px;

$base: 4px;

$transition: .2s;

$color-devider: #d8e3fe;

$color-white: #fff;
$color-primary: #697ca6;
$color-secondary: #5e81fe;