@import "functions";

$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: rem(10px);
$fs-xs: rem(12px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$base: rem(4px);

$transition: .2s;

$color-devider: #d8e3fe;

$color-white: #fff;
$color-primary: #697ca6;
$color-secondary: #5e81fe;