@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 16px;
  margin: 0;
  border: 1px solid transparent;
  background: none;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--primary {
  color: #3a79ff;
  background-color: #d2e1ff;
}

.btn--primary:hover {
  background-color: #b9d0ff;
}

.btn--secondary {
  color: #fff;
  background-color: #4c85ff;
}

.btn--secondary:hover {
  background-color: #b9d0ff;
}

.btn--no-bg {
  color: #d1d1e4;
  border: 1px solid #d1d1e4;
}

.btn--no-bg:hover {
  color: #9fbfff;
  border: 1px solid #b1b1d1;
}

.btn--danger {
  color: #d43f3f;
  background-color: #ffd7d7;
}

.btn--danger:hover {
  background-color: #ffbebe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #3d4f9f;
}

h1,
h2 {
  margin-bottom: 28px;
  font-size: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: 28px;
}

h4 {
  margin-bottom: 80px;
  font-size: 24px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 10px;
}

.ta-c {
  text-align: center;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dots__item {
  width: 8px;
  height: 8px;
  background-color: #d1d6e3;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.dots__item--active {
  background-color: #5283ff;
}

.dots__item + .dots__item {
  margin-left: 12px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5e81fe;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-bar__item + .nav-bar__item {
  margin-left: 40px;
}

.nav-bar__item-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #697ca6;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-bar__item-link:hover {
  color: #5e81fe;
}

.nav-bar__item-link--active {
  color: #5e81fe;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

.socials-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials-bar__item + .socials-bar__item {
  margin-left: 40px;
}

.socials-bar__item-link path {
  fill: #697ca6;
}

.socials-bar__item-link:hover path {
  fill: #5e81fe;
}

.nav-btn {
  margin-left: 40px;
}

.section-hero-image {
  position: relative;
}

.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-hero-image__item {
  height: 560px;
  background-size: cover;
  background-position: 50% 100%;
  text-align: center;
}

.slider-hero-image__item-content h2 {
  font-weight: 300;
}

.slider-hero-image__item-content h2 span {
  font-weight: 500;
}

.slider-hero-image__item-content-text {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 2;
}

.slider-hero-image__item-content-btn-icon-play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
}

.slider-hero-image__item-content-btn-icon-play svg {
  width: 12px;
  height: 12px;
}

.section-customers .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-icon {
  opacity: .3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.customers-icon:hover {
  opacity: 1;
}

.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;
}

.section-plan-and-manage__content {
  width: 50%;
}

.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 40%;
}

.section-plan-and-manage__content h3 {
  font-weight: 300;
}

.section-plan-and-manage__content h3 span {
  font-weight: 500;
}

.section-plan-and-manage__content-text {
  line-height: 2;
  margin-bottom: 48px;
}

.section-plan-and-manage__content-btn-group svg {
  margin-left: 4px;
}

.section-features {
  background: url(../img/bg-features-clouds.svg) no-repeat 50% 50%;
}

.section-features h4 {
  font-weight: 500;
}

.section-features .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 0 100px;
  list-style: none;
  text-align: center;
}

.features-list__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.features-list__item:not(:first-child) {
  margin-left: 40px;
}

.features-list__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 120px;
  left: -34px;
  height: 1px;
  width: 28px;
  background-color: #dae4fe;
}

.features-list__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-color: #f1f5ff;
}

.features-list__item-title {
  font-weight: 700;
  font-size: 15px;
  color: #4074f8;
  margin-bottom: 28px;
}

.features-list__item-text {
  line-height: 2;
}

.btns-devider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin: 0 16px;
}

.btns-devider::before, .btns-devider::after {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background-color: #dae4fe;
}

.btns-devider::before {
  margin-right: 16px;
}

.btns-devider::after {
  margin-left: 16px;
}

.section-stats .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer {
  border-bottom: 0;
}

.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer .copyright {
  font-family: 'Quicksand', sans-serif;
  margin-top: 28px;
  margin-left: 96px;
  font-size: 12px;
  font-weight: 500;
  color: #aeb8d0;
}
/*# sourceMappingURL=index.css.map */