@import 'fonts';
@import 'mixins';
@import 'variables';

// === COMMON ===
body {
    @include roboto;

    color: #8d96bd;
}

.section-outer {
    border-bottom: 1px solid $color-devider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;

    &--wide {
        max-width: 1200px;
    }
}

.btn {
    @include quicksand;
    font-weight: $fw-bold;
    font-size: $fs-sm;
    text-decoration: none;
    padding: $base*3 $base*4;
    margin: 0;
    border: 1px solid transparent;
    background: none;
    border-radius: 2px;
    transition: $transition;

    &--primary {
        color: #3a79ff;
        background-color: #d2e1ff;
    
        &:hover {
            background-color: darken(#d2e1ff, 5%);
        }
    }

    &--secondary {
        color: #fff;
        background-color: #4c85ff;
    
        &:hover {
            background-color: darken(#d2e1ff, 5%);
        }
    }

    &--no-bg {
        color: #d1d1e4;
        border: 1px solid #d1d1e4;
    
        &:hover {
            color: darken(#d2e1ff, 10%);
            border: 1px solid darken(#d1d1e4, 10%)
        }
    }

    &--danger {
        color: #d43f3f;
        background-color: #ffd7d7;
    
        &:hover {
            background-color: darken(#ffd7d7, 5%);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
    color: #3d4f9f
}

h1,
h2 {
    margin-bottom: $base * 7;
    font-size: 48px;
}
h3 { 
    font-size: 36px;
    margin-bottom: $base * 7;
}
h4 { 
    margin-bottom: $base * 20;
    font-size: 24px
}
h5 {
    @include roboto;

    margin-bottom: $base * 4;
    font-size: 10px;
}

.ta-c {
    text-align: center;
}

.dots{
    display: flex;
    padding: 0;
    margin: 0;
    list-style:none;

    &__item {
        width: $base * 2;
        height: $base * 2;
        background-color: #d1d6e3;
        border-radius: 100%;
        transition: $transition;
        cursor: pointer;
        
        &--active {
            background-color: #5283ff;
        }

        & + & {
            margin-left: $base * 3;
        }
    }
}

.btn-group {
    display: flex;
    
    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
// === / COMMON ===

// === HEADER ==
.section-header {
    .section-inner{
        padding-top: $vertical-padding-xs;
        padding-bottom: $vertical-padding-xs;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    width: $base*6;
    height: $base*6;
    background-color: $color-secondary;
    border-radius: 100%;
}

.nav {
    margin-left: $base*18;
}

.nav-bar {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item {
        & + & {
            margin-left: $base*10;
        }

        &-link {
            @include quicksand;

            font-size: $fs-sm;
            font-weight: $fw-medium;
            color:$color-primary;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }
        
            &--active {
                color: $color-secondary;
                font-weight: $fw-bold;
            }
        }
    }
}

.socials {
    margin-left: auto;

    &-bar {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        &__item {
            & + & {
                margin-left: $base*10;
            }

            &-link {
                path{
                    fill:$color-primary;
                }
                
                &:hover {
                    path{
                        fill: $color-secondary;
                    }
                }
            }
        }
    }
}

.nav-btn {
    margin-left: $base*10;
}
// === / HEADER ==

// === HERO-IMAGE ==
.section-hero-image {
    position: relative;

    .dots {
        position: absolute;
        bottom: $base * 7;
        left: 50%;
        transform: translateX(-50%);
    }    
}

.slider-hero-image {
    padding: 0;
    margin: 0;
    list-style: none;
    
    &__item {
        height: $base*140;
        background-size: cover;
        background-position: 50% 100%;
        text-align: center;

        &-content {
            h2{
                font-weight: $fw-light;

                span{
                    font-weight: $fw-medium;
                }
            }

            &-text {
                width: 60%;
                margin: 0 auto $base*5;
                line-height: 2;
            }

            &-btn {

                &-icon-play {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: $base * 13;
                    height: $base * 13;
                    background-color: #fff;
                    border-radius: 100%;
                    box-shadow: 0 10px 50px rgba(#c9d1e7, .6);

                    svg {
                        width: $base*3;
                        height: $base*3;
                    }
                }
            }
        }
    }
}
// === / HERO-IMAGE ==

// === CUSTOMERS ==
.section-customers {
    .section-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $vertical-padding-sm;
        padding-bottom: $vertical-padding-sm;
    }
}

.customers-icon {
    opacity: .3;
    transition: $transition;

    &:hover {
        opacity: 1;
    }
}
// === / CUSTOMERS ==

// === PLAN-AND-MANAGE ==
.section-plan-and-manage {
    position: relative;
    overflow: hidden;
    background-color: #f5f8ff;

    &__content {
        width: 50%;

        .aside-image {
            position: absolute;
            top: 0;
            left: 40%;
        }

        h3{
            font-weight: $fw-light;

            span{
                font-weight: $fw-medium;
            }
        }

        &-text {
            line-height: 2;
            margin-bottom: $base * 12;
        }

        &-btn-group {
            svg {
                margin-left: $base;
            }
        }
    }
}
// === / PLAN-AND-MANAGE ==

// === FEATURES ==
.section-features {
    background: url(../img/bg-features-clouds.svg) no-repeat 50% 50%;

    h4 {
        font-weight: $fw-medium;
    }

    .btns {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0 0 $base*25;
    list-style: none;
    text-align: center;

    &__item {
        position: relative;
        flex-basis: 25%;

        &:not(:first-child) {
            margin-left: $base * 10;
        }

        &:not(:first-child)::before{
            content: "";
            position: absolute;
            top: 120px;
            left: -34px;
            height: 1px;
            width: 28px;
            background-color: #dae4fe;
        }

        &-icon {
            display: flex;
            margin: 0 auto $base*8;
            align-items: center;
            justify-content: center;
            width: $base * 17;
            height: $base * 17;
            border-radius: 100%;
            background-color: #f1f5ff;
        }

        &-title {
            font-weight: $fw-bold;
            font-size: $fs-md;
            color: #4074f8;
            margin-bottom: $base * 7;
        }

        &-text {
            line-height: 2;
        }
    }
}

.btns-devider {
    display: inline-flex;
    align-items: center;
    font-weight: $fw-medium;
    font-size: $fs-sm;
    margin: 0 $base*4;

    &::before,
    &::after {
        content: "";
        display: block;
        width: $base*4;
        height: 1px;
        background-color: #dae4fe;   
    }
    &::before { margin-right: $base*4; }
    &::after { margin-left: $base*4; }
}
// === / FEATURES ==

// === STATS ==
.section-stats {
    .section-inner{
        padding-top: $vertical-padding-sm;
        padding-bottom: $vertical-padding-sm;
    }
}
// === / STATS ==

// === BLOG ==
.section-blog {}
// === / BLOG ==

// === QUOTES ==
.section-quotes {}
// === / QUOTES ==

// === FAQ ==
.section-faq {}
// === / FAQ ==

// === GET-STARTED ==
.section-get-started {}
// === / GET-STARTED ==

// === NEWSLETTER ==
.section-newsletter {}
// === / NEWSLETTER ==

// === FOOTER ==
.section-footer {
    border-bottom: 0;

    .section-inner {
        padding-top: $vertical-padding-sm;
        padding-bottom: $vertical-padding-sm;
    }

    .copyright {
        @include quicksand;

        margin-top: $base*7;
        margin-left: $base*24;
        font-size: $fs-sm;
        font-weight: $fw-medium;
        color: #aeb8d0;
    }
}
// === / FOOTER ==